<!DOCTYPE html>
<html lang="en">
</html>
<head>
  <style>
    h2{
      text-align: center;
    }
  </style>
<body>
  <h2>Shove this website up your ass</h2>
  <form method="POST">

    <label for="title">Title</label>
    <input type="text" name="title">
    <br>

    <label for="title">Business Name</label>
    <input type="text" name="business">
    <br>

    <label for="title">About</label>
    <input type="text" name="about">
    <br>
    <input type="submit">

  </form>
</head>
</body>
</html>
